
linked.css
Style sheet to a webpage that shows two linked visualizations.

Rianne Schoon, 10742794

Sources and credits:
*/

/* -------------------- css from map template -------------------- */

.country:hover{
  stroke: gold;
  stroke-width: 1.5px;
}
.title,
.intro {
  text-align: center;
}
.text{
  font-size:10px;
  text-align: center;
}
#container {
  margin:10px 10%;
  border:2px solid royalblue;
  border-radius: 5px;
  height:100%;
  overflow:hidden;
  background: powderblue;
}
.hidden { 
  display: none; 
}
div.tooltip {
  color: royalblue; 
  background: lightcyan; 
  padding: .5em; 
  /*text-shadow: #f5f5f5 0 1px 0;*/
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px royalblue; 
  opacity: 0.9; 
  position: absolute;
}
.equator {
  stroke: #ccc;
  stroke-width: 1px;
}

/* -------------------- css from scatterplot -------------------- 

/* font for axes and ticks */
body {
  font: 10px tahoma;
  text-align: center;
  color: black;
}

/* intro and data source styling */
/*.intro,
.source {
  font: 15px tahoma;
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 5px;
}*/

/* instruction text *//*
.intro {
  color: darkslategrey;
}*/

/* center chart */
/*svg {
  margin: auto;
  display: block;
}*/

/* color axes */
/*.axis path,
.axis line {
  fill: none;
  stroke: midnightblue;
  shape-rendering: crispEdges;
}
*/
/* dot color default */
.dot {
  stroke: white;
}

/* make tooltips*/
/*.d3-tip {
  line-height: 1.5;
  padding: 10px;
  background: #bee3e8;
  color: midnightblue;
  border-radius: 2px;
}*/

 /* small point for tooltip */
/*.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: powderblue;
  content: "\25BC";
  position: absolute;
  text-align: center;
}*/

 /* fix so that point stays centered on tooltips */
 /*.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}*/
